
[include mainsail.cfg]
[include ./config/macros.cfg]
[include ./config/sb_led.cfg]

[mcu]
canbus_uuid: bf6dbdc50edf
# serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_17000B00105053424E363620-if00

[mcu EBBCan]
canbus_uuid: 4ccaa6deba7d #ToolHead 0

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6000             #Max 4000
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

# [force_move]
# enable_force_move: true

[pause_resume]

[display_status]

[skew_correction]


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[static_digital_output disable_max31865]
pins: !PF8

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 60.381 # TBG-S
gear_ratio: 11.53125:1          #TBGS
microsteps: 32 #Stealthburner
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: EBBCan: PB13
sensor_type: Generic 3950 # NTC 100K #Conch QIDI
sensor_pin: EBBCan: PA3 #Stealthburner
min_temp: 10
max_temp: 320
max_power: .8 #
min_extrude_temp: 30
max_extrude_cross_section: 5
max_extrude_only_distance: 1000
pressure_advance: 0.04

control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721

#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: EBBCan: PA1
kick_start_time: 0.5
off_below: 0.10

##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120

control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769


#####################################################################
#   Probe Voron Tap
##################################################################### 
[probe] 
pin: ^!EBBCan:PB9
x_offset: 0
y_offset: 0
z_offset:0
speed: 5.0
lift_speed: 10.0

samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.01
samples_tolerance_retries: 5

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


[homing_override]
axes: xyz
gcode:
    G28 Y
    G28 X
    G1 X175 Y175 F6000
    G28 Z


    
#####################################################################
# X/Y Stepper Settings 
# Z Stepper Settings   
#####################################################################
[include ./config/stepper.cfg]
[include ./config/tmc5160.cfg]

