#########################################
# Stepper Motor Settings                #
# X, Y and Z Nema17, 1.8 degree, 24 V   #
# Extruder Motor Nema14, 1.8 degree 24V #
#########################################
## X Stepper on MOTOR0 (B Motor)

[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  # set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 50   # Max 100
homing_retract_dist: 5
homing_positive_dir: true


## Y Stepper on MOTOR1 (A Motor)

[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  # set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 50  # Max 100
homing_retract_dist: 5
homing_positive_dir: true

 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR4
[stepper_z]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

## end stop position is set to 300 to allow for the bed mesh compensation to work properly, adjust as needed for your printer
endstop_pin: PG10
position_endstop: 300
position_max: 300
position_min: -5
homing_speed: 15 #8
second_homing_speed: 3
homing_retract_dist: 3


##	Z1 Stepper - Rear Left on MOTOR5
[stepper_z1]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


##	Z2 Stepper - Rear Right on MOTOR6
[stepper_z2]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


##	Z3 Stepper - Front Right on MOTOR7
[stepper_z3]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16